@mixin tekst-style {
  max-width: 700px;
  text-align: center;
  padding: $pddng-std;
}
/* Variables */
$bckgrnd-dark: #97d279;
$bckgrnd-light: #c0eea9;
$bckgrnd-lightest: #ecffe9;
$clr-line: #000;
$clr-text: #090b08;
$pddng-std: 20px;
