/* Element selector, HTML elements*/
body { 
    color:rgba(0,0,255,0.5);
    background-image:
     linear-gradient(to bottom, rgba(231, 154, 154, 0.5), rgba(195, 195, 226, 0.5)),
     url("Clipboard01.jpg");
}
/* class selector, to a specified class */
.black-border {
    border: 5px solid black;
}
.lorem {
    border: 2px dashed black;
}
/* ID selector, to a specified ID (! use only when not doable with class !) */
/* ! each ID used in the HTML code should be used only once!! */
#green-background {
    background-color: green;
}


p + h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}
p {
    color:rgba(51, 32, 50, 0.459);
    font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;
    font-size: 20px;
  }
img.photo {
	border: 1px solid #999;
	background-color: #fcfcfc;
	padding: 4px;
}
.stamp {
	width: 100px;
	height: 140px;
	background: #fff url(Clipboard01.jpg) no-repeat;
	border: 12px dashed #1b1a19;
}
/*.stamp p {
    color: #fff;
    margin: 10px 10px 0 0;
    font: bold 20px Georgia, "Times New Roman", Times, serif;
    text-align: right;
}
class selecter met element selector!*/
